@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

a {
  color: #00B7FF;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100px;
  /*background: rgba(0, 0, 0, 0.75);*/
}

.arrow{

  opacity: 0.4;
  /*box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, 0.5);*/
}

#owluser{

  background-color: black;
}


.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#ourvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}


.text-box h4{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
}

.text-box p{
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  margin: 0;
  padding: 4px 8px;
}





.nav-item{

  color: white;
}


.customNavigation{
  text-align: center;
}
/*use styles below to disable ugly selection*/
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* public/stylesheets/styles.css */
.main-container {
  padding-top: 25px;
}

nav.navbar {
  box-shadow: 0px 4px 10px 0 rgba(22,22,22,0.08);
  margin-bottom: 0;
  background-color: black;
}

.nav > li > a {
  color: white;
}

.nav > li.nav-logo {
  width: 174px;
  display: block;
  position: absolute;
  padding-top: 10%;
  left: 50%;
  margin-left: -87px;
}

.nav-logo-image {
  height: 17px;
  width: 100%;
}

.nav > .li-logout {
  padding: 7px;
}

.btn-logout {
  color: black;
}

.home-heading {
  background-color: #E3ECFA;
  height: 75vh;
  padding: 0 30%;
  position: relative;
}

.home-heading-wrapper {
  padding: 0 5%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-heading-wrapper > h1 {
  font-size: 9rem;
}

.home-heading-wrapper > p {
  font-size: 2rem;
}

.stylish-input-group .input-group-addon{
  background: white !important; 
}
.stylish-input-group .form-control{
border-right:0; 
box-shadow:0 0 0; 
border-color:#ccc;
}
.stylish-input-group button{
  border:0;
  background:transparent;
}

.img {
  margin-left: -15px;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100px;
}



